/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */

*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}








body {
  /* background-image: url("/images/background.jpg"); */
  /* overflow-y: scroll;
  overflow-x: scroll;  */
  background-color: lightblue;
}



/* ////////////////// */


section {
  /* background-color:gold; */
}

section ul{
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 100vh;
  column-gap: 3vw;

  background-color:#0f88;

  margin:0;
  padding:0;
  list-style: none;
}

section ul li{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: max-content;
  position: relative;

  height:30vw;

  background-color:#ff08;
}


/* Mario */
section ul li img {
  display:block;
  position: relative;

  width: 6vw;
  height: auto;
  z-index: 100;

  /* animation: jump 5s; */
}

.naarBlok1{
  animation: jump 2s;
}

@keyframes jump {
  0% { 
    transform: translateY(0); 
    animation-timing-function: ease-out;
  }
  50% { 
    transform: translateY(-17vw); 
    animation-timing-function: ease-in;
  }
  100% { 
    transform: translateY(0); 
  }
}


/* Vraagtekenblokje */
section ul li  button{ 
  background-color: #F3CC0A;
  border: solid #9B8204;
  border-radius: 0.2em;
  width: 3em;
  height: 3em;

  box-shadow: -1px 1px 1px 1px rgb(0 0 0 / 70%);

  color: white;

  font-size:1.5vw;
}

/* Container buizen */










