/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */

*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-headings:crimson
}

body {
  /* background-image: url("/images/background.jpg");
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101; */
  /* overflow-y: scroll;
  overflow-x: scroll;  */
  /* background-color: lightblue; */
}

/* ////////////////// */

section ul{
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 100vh;
  column-gap: 3vw;

  background-color: lightblue;

  margin:0;
  padding:0;
  list-style: none;
}

section ul li{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: max-content;
  position: relative;

  height:28vw;

  background-color: lightgrey;
}

section ul li button{ 
  background-color: #F3CC0A;
  border: solid #9B8204;
  border-radius: 0.2em;
  width: 2em;
  height: 2em;

  box-shadow: -1px 1px 1px 1px rgb(0 0 0 / 70%);

  color: white;

  font-size:2vw;
}
section ul li button:hover{
  transform: scale(1.1);
}
section ul li:nth-of-type(1) button:nth-of-type(1){
  background-color: #FE9637;
  border: solid 0.1em #D0320B;
  border-radius: 0.2em;
  color: #D54628;

  box-shadow: -1px 1px 1px 1px rgb(0 0 0 / 70%);

  font-size:2vw;
}


/* Mario */
section ul li img {
  display:block;
  position: relative;

  width: 6vw;
  height: auto;
  z-index: 100;
}

.omhoogSpringen{
  animation: jump 2s;
}
@keyframes jump {
  0% { 
    transform: translateY(0); 
    animation-timing-function: ease-out;
  }
  50% { 
    transform: translateY(-33.5vh); 
    animation-timing-function: ease-in;
  }
  100% { 
    transform: translateY(0); 
  }
}

.blokjeKnippert{
  animation: blokjeKnippert 3s;
}
@keyframes blokjeKnippert{
  0% {
    opacity: 0.5;
  }
  30% {
    opacity: 1.5;
  }
  90% {
    opacity: 0.5;
  }
  100% {
  opacity: 1.5;
  }
}

.marioInvisible{
  top: -8.3em;
  position: absolute;
  visibility: hidden;
}
.marioVisible{
  position: absolute;
  visibility: visible;
  animation: marioVallen 4s 1;
}

.marioT1valt{
  animation: marioVallen 3s;
}
@keyframes marioVallen{ 
    0%{
      opacity: 1;
    }
    10%{
      opacity: 1;
    }
    100%{
      transform: translateY(61vh);
    }
} 

.marioT1Stays{
  display:block;
  position: relative;

  width: 6vw;
  height: auto;
  z-index: 100;
  top: 38vh;
}

.blokjeVerdwijnt{
  opacity: 0;
  z-index: -1;
}
  
/* Functie 2 */

.marioNaarBlok{
  animation: marioNaarBlok 4s 1;
  animation-fill-mode: forwards;
}
  @keyframes marioNaarBlok {
    0% { 
      /* transform: translateY(0);  */
      animation-timing-function: ease-out;
    }
    50% { 
      transform: translateX(15.9vw); 
      animation-timing-function: ease-in;
    }
    99% { 
      transform: translateY(-33.5vh);
    }
    100% {  
      transform: translateX(15.2vw); 
    }
}





