--blokj1-animatie1-achtergrondkleur: #E7A755;
--blokj1-animatie1-border-top-left: #D7632C
--blokj1-animatie1-border-right: black;

--blokj1-animatie2-achtergrondkleur: #71180C;
--blokj1-animatie2-border-top-left: #BA5325
--blokj1-animatie2-border-right: black;
 




--tweede-section-h1: wit;